{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <form action="{{ path('security_login') }}" method="post">
            <p class="h4 text-center my -4">Connexion</p>

            <!-- Material input email -->
            <div class="md-form">
                <i class="fa fa-user prefix grey-text" aria-hidden="true"></i>
                <input type="text" id="username" name="_username" class="form-control validate"/>
                <label for="username">Username</label>
            </div>

            <!-- Material input password -->
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="password" name="_password" class="form-control" />
                <label for="password">Votre Mot de passe</label>
            </div>

            <div class="text-center mt-4">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                <button class="btn btn-indigo">Se Connecter <i class="fa fa-paper-plane ml-1"></i></button>
            </div>
        </form>
    </div>
{% endblock %}