{% extends 'base.html.twig' %}

{% block title %}New Annonce{% endblock %}

{% block body %}
        <div class="container z-depth-5">
            <h1 class="text-center my-3">Nouvelle Annonce</h1>
            {{ include('annonce/_form.html.twig') }}
            <a href="{{ path('annonce_index') }}" class="btn btn-danger left">back to list</a>
        </div>
{% endblock %}